footer {
	display: none;
}

:root {
	--bg_color: #11749e;
	--paddingLeftRight: 13%;
}

* {
	box-sizing: border-box;
	list-style: none; /* Убрать маркеры списка */
	text-decoration: none; /* Убрать подчёркивание */
}

body {
	font-family: 'PT Sans', sans-serif;
	font-size: 14px;
	
	margin: 0;
	padding: 0;
}

img {
	pointer-events: none;
}

/* *********************************************
				WELCOME BLOCK
************************************************ */
.welcome_block {
	background-image: url(../img/bg_welcome_block.png);
	background-repeat: no-repeat;
	background-size: cover;
	
	color: rgba(245, 245, 245, 255);
	text-align: center;
}

.welcome_header {
	display: flex;
	justify-content: space-between;
	align-items: center;

	padding-left: var(--paddingLeftRight, 10%);
	padding-right: var(--paddingLeftRight, 10%);
	
	border-bottom: 1px solid #767575;
}

.header_navigation {
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 100%;
}

.logo_content {
	padding: .7em;
	background-color: var(--bg_color, #11749e);
	
	-webkit-box-shadow: .7em .4em 0px 0px #c8c8c8;
	-moz-box-shadow: .7em .4em 0px 0px #c8c8c8;
	box-shadow: .7em .4em 0px 0px #c8c8c8;
	
	margin-top: 1em;
	margin-bottom: 1.4em;
	
	cursor: pointer;
}

.logo {
	font-size: 2em;
}

.main_navigation {
	display: flex;
}

.menu_item {
	margin-left: 2.5em;
	
	color: rgba(245, 245, 245, 255);
	font-size: 1.1em;
}

.social_icons {
	display: flex;
}

/* Социальные иконки */
.fab {
	margin-left: 2em;
	
	color: rgba(245, 245, 245, 255);
	font-size: 1.1em;
}

/* *********************************************
				WELCOME BLOCK
				welcome_text
************************************************ */
.welcome_text {
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	height: 100%;
	
	font-family: 'Andika', sans-serif;
	
	padding-top: 12em;
	padding-bottom: 6em;
}

.welcome_block h1 {
	text-transform: uppercase;
	font-size: 6em;
	
	margin: 0;
	letter-spacing: .1em;
}

.welcome_block h2 {
	text-transform: uppercase;
	font-size: 1.4em;
	color: var(--bg_color, #11749e);
	
	margin-top: .5em;
	letter-spacing: .5em;
}

.scroll_down_content {
	margin-top: 5em;
}

.scroll_down_content img{
	height: 4em;
	margin-top: 1em;
}










